<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- File Retreival Settings Section -->
    <add key="protocolConnectionString" value="limitlesssupplements.co.nz" />
    <add key="protocolPort" value="21" />
    <add key="protocolUsername" value="vending@limitlesssupplements.co.nz" />
    <add key="protocolPassword" value="dmVuZGluZzEyMzQ=" />
    <add key="protocolGetDirectory" value="TestDirectory" />
    <add key="protocolCompleteDirectory" value="/CompletedByExtractor/" />
    <add key="protocolErrorDirectory" value="/ErroredFiles/" />
    <add key="getFilePrefix" value="CoilDaily_" />
    <!-- File Location Settings-->
    <add key="csvFileLocation" value="C:\Projects\VendingDataExtractor\CoilDaily_4_20121221150100.csv" />
    <add key="mappingsFileLocation" value="C:\Projects\VendingDataExtractor\VendingDataExtractor\VendingDataExtractor\bin\Debug\ProductMappings.xml" />
    <add key="orderIterationFileLocation" value="C:\Projects\VendingDataExtractor\VendingDataExtractor\VendingDataExtractor\bin\Debug\OrderIteration.dat" />
    <add key="saveDirectory" value="C:\Projects\VendingDataExtractor\SaveDirectory\" />
    <add key="completeDirectory" value="C:\Projects\VendingDataExtractor\Completed\" />
    <!-- Notification Settings Section -->
    <add key="contact" value="danperrydrumming@hotmail.co.nz" />
    <add key="accountUsername" value="ZGFucGVycnlkcnVtbWluZ0Bob3RtYWlsLmNvLm56" />
    <add key="accountPassword" value="ZGlhYmxvNjk2OQ==" />
    <add key="contactMessage" value="The extractor has failed - error message :" />
    <!-- Unleashed Guidance Settings -->
    <add key="dataDestinationEnpoint" value=" https://api.unleashedsoftware.com/" />
    <add key="dataDestinationEnpointx" value=" http://192.0.0.8/" />
    <add key="taxRate" value="0.15" />
    <add key="customerCode" value="VENDDATAEXTR" />
    <add key="apiID" value="f598814c-ce58-4b78-8576-1c8b1bf593fd" />
    <add key="apiKey" value="WyQX6ofMpDsAfNesdi39uhdDs2S2hKSj33jQcIjS2h8allq8O7h7EYkR7OkkRBf88ATzw31zdxVkQ0KPzf3Q==" />
    <!-- Logs -->
    <add key="logFileDirectory" value="C:\Projects\VendingDataExtractor\Logs" />
  </appSettings>
  <connectionStrings>
    <add name="VendingBackEndEntities" connectionString="metadata=res://*/VendingBackEndModel.csdl|res://*/VendingBackEndModel.ssdl|res://*/VendingBackEndModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANHP\SQLEXPRESS;initial catalog=VendingBackEnd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>